/* Общее оформление */
html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 550px;
    font-size: 14px!important;
    font-family: "Tahoma", "Arial", sans-serif;
    color: black!important;
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    width: 300px;
    padding: 10px;
}

div.picture {
    width: 100px!important;
    height: 100px!important;
    margin: 10px!important;
    padding: 10px!important;
    border: 5px solid burlywood;

    text-align: center;

    background-repeat: no-repeat;
    background-position: 50% 80%!important;
    background-size: 64px 64px!important;
    background-color: white;

    border-radius: 10px;
}

/* Оформление картинок */
div.cat-foodlove {
    background-image: url("cat-foodlove.svg");
}

#scary.cat-slippers {
    background-image: url("cat-slippers.svg");
}

div.picture.cat-cage {
    background-image: url("cat-cage.svg");
    color: #000;
}

div.cat-fat {
    background-image: url("cat-fat.svg")!important;
}
