html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    min-width: 550px;
    min-height: 250px;
    padding: 10px;
}

.cards {
    width: 500px;
}

.cards li::before {
    font-family: "Courier", monospace;
}

.cards li:nth-of-type(2),
li:nth-of-type(3),
.cards li:nth-last-child(5),
li:nth-last-of-type(3),
li:nth-last-of-type(2),
li:nth-last-of-type(1) {
    margin-left: -15px;
}

.cards li:not(.nine) {
    width: 36px!important;
    height: 54px!important;
}

li.nine {
    margin-right: 12px;
    margin-left: 15px;
}

li.diamond:not(.nine):not(.jack):not(.king):not(.seven) {
    background-color: #0099ff;
}

li.seven:not(.club) {
    background-color: #ff3300;
}

li.heart.eight,
li.diamond.jack,
li.ace.spade {
    background-color: #339933;
}