body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
  
    font-size: 14px;
    font-family: "Arial", sans-serif;
  }

.left-row{
    text-align: left;
}

.center-row {
    text-align: center;
}

.rigth-row {
    text-align: right;
}

tr:nth-child(odd) { 
    background-color: lightyellow; 
}

th:nth-child(2n)  { 
    background-color: lightblue; 
}

th {
    color: #fff;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: darkcyan;
    padding: 10px;
}

td{
    padding: 10px;
    width: 33%;
    border-bottom: 1px solid lightgray;
}

table {
    border-collapse: collapse;
}