body {
    width: 350px;
    margin: 0;
    padding: 0 10px;
  
    font-size: 14px;
    font-family: "Arial", sans-serif;
  }
  
  table {
    border-collapse: collapse;
  }
  
  td{
   padding: 10px;
   border-bottom: 2px solid lightgray;
  }