form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #cccccc;
}

fieldset {
    padding: 10px;

    border: 1px solid #34495e;
    border-radius: 5px;
}

fieldset legend {
    color: #34495e;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 95%;
    height: 24px;
    margin-bottom: 10px;
    padding: 2px 5px;

    font-family: "Roboto", sans-serif;
    vertical-align: middle;

    border: 1px solid #cccccc;
    border-radius: 5px;
}

select[multiple] {
    height: 60px;
}

input[type="submit"] {
    display: inline-block;
    width: auto;
    height: auto;
    margin: 0 5px;
    padding: 6px 15px;

    color: #ffffff;

    background-color: #2c3e50;
    border: none;
    border-radius: 5px;
}

.one-third-width {
    width: 33.3%;
}

.two-third-width {
    width: 66.6%;
}

.half-width {
    width: 50%;
}

.one-third-width,
.two-third-width,
.half-width {
    display: inline-block;
    margin-right: -4px;
}

.one-third-width input,
.two-third-width select {
    width: 80%;
}

.half-width input {
    width: 80%;
}

.half-width input[type="range"] {
    width: 65%;
}

.buttons {
    margin-top: 10px;

    text-align: center;
}

main {
    min-height: 400px;
}
